@media (max-width: 500px) {

    .body{
        z-index: 10;
        background-image: url("stars4.gif");
        background-color: black;
    }

        .header{
        height: 20%;
        display:block;
        align-items: center;
        position:fixed;
        top: 0;                    
        left: 0;                  
        padding: 0;                
        margin: 0;
        z-index: 100;
        background-image: url("moon.jpg");
        background-size: cover;
        background-position: center;
        transition: all 0.3s ease;
    }


    .topmenu{
        /* background-image: url("moon.jpg"); */
        font-family: 'milspec';
        font-size:150%;
        border-spacing: 5px;
        display: float;
        position:fixed;
        width: 100%;
        margin-top: 20%;
        /* background-image: url("stars4.gif"); */
    }


    .maintitle{

        display:none

     }

     .maintitlesmall{
        font-family: 'murk';
        color:blue;
        font-weight: 900;
        text-shadow: 1px 1px 2px white, -1px -1px 2px blue; 
        font-size: 300%;
        padding-left: 3%;
        text-align: center;
     }
    
    
    
    /* .topmenu{
        background-image: url("IMG_1766.jpg");
        font-family: 'latek';
        font-size:150%;
        border-spacing: 10px;
        display: float;
        position:fixed;
        width: 100%;
        margin-top: 10%;
    } */

    .topmenusmall{
        background-image: url("moon.jpg");
        font-family: 'milspec';
        font-size:150%;
        border-spacing: 5px;
        display: float;
        position:fixed;
        width: 100%;
    }

     .button1{
        font-family:'milspec';
        color:white;
        /* text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2; */
        /* text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2;  */
        /* border-width: 2px;
        border-color: white;
        border-style: inset; */
        cursor: pointer;
        font-size: 50%;
        background-image: url("stars4.gif");
     }

    /* .maintext{
        font-family: 'milspec';
        font-weight: 50;
        width: 95%;
        color:white;
        font-size: 80%;
        text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2; 
        float:right;
        margin-right: 2%;
        text-align: center;
        padding-left: 3%;
    } */

    .image{
    
    width:100%

    }

    .maintext{
        padding-top: 15%;
        font-family: 'milspec';
        font-weight: 50;
        width: 100%;
        color:white;
        font-size: 100%;
        /* text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2;  */
    }

    .sectiontitle{
        font-family: 'murk';
        color:white;
        /* text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2;  */
        text-align: center;
        font-size: 300%;
    }

    .intro{
        max-width:90%;
        color:white;
        /* text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2;  */
        text-align: center;
        padding-top: 20%;
        font-size: 120%;
                           
    }

    .section2{
        padding-top: 10%;
        color:white;
        /* text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2;   */
        font-size:100%;
        height:100vh;
        padding-top: 25%;
    }

    .guided_disc{
        padding-left: 5%;
        padding-right: 5%;
        font-size: 180%;
    }

    .section3{
        padding-top: 10%;
        color:white;
        /* text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2;  */
        font-size:100%;
        height:100vh;
    }

    .section4{
        padding-top: 10%;
        color:white;
        /* text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2;  */
        font-size:100%;
    }



}


@media (min-width: 500px) {

    .body{
        z-index: 10;
        background-image: url("stars4.gif");
        background-color: black;
    }


    /* .header{
        height: 15%;
        width:100%;
        display:block;
        position:fixed;
        display:flex;
        align-items: center;
        top: 0;                    
        left: 0;                  
        padding: 0;                
        margin: 0;
        background-image: url("moon.jpg"); 
        /* border-width: 2px; */
        /* border-color: #61c3a2; */
        /* border-style: inset; */
        /* z-index: 100;
    }  */

    .header {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        background-image: url("moon.jpg");
        background-size: cover;
        background-position: center;
        z-index: 100;
        transition: all 0.3s ease;
    }
    
    /* Add this for the smaller version */
    .header.shrink {
        height: 5%; /* or whatever smaller height you prefer */
    }



     .maintitle {
        font-family: 'murk';
        color: blue;
        font-size: 350%;
        padding-left: 3%;
        text-align: left;
        text-shadow: 1px 1px 2px white, -1px -1px 2px black; 
        transition: all 0.3s ease; /* Add transition for smooth effect */
    }

    .header.shrink .maintitle {
        padding-top: 15px;  /* Only applies when scrolled */
        font-size: 300%;    /* Optional: scale down title a bit */
    }
    
    .maintitlesmall{
        display:none
    }
    
    
    .topmenu{
        /* background-image: url("IMG_1766.jpg"); */
        font-family: 'latek';
        font-size:150%;
        border-spacing: 10px;
        display: float;
        position:fixed;
        width: 100%;
        left: 0;                   
        padding: 0;                
        margin: 0;
    }


    .topmenusmall{
        display:none
    }


     .button1 {
        font-family: 'milspec';
        font-size: 90%;
        color: white;
        text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2; 
        border-width: 2px;
        cursor: pointer;
        width: 10%;
        background-image: url("stars4.gif");
        transition: all 0.3s ease;
    }
    
    /* Shrink behavior for buttons */
    .header.shrink .button1 {
        font-size: 75%;   /* slightly smaller */
        width: 5%;        /* narrower if desired */
    }

    .image{
    
        height:400px
    
        }

    .maintext{
        font-family: 'milspec';
        font-weight: 50;
        width: 95%;
        color:white;
        text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2; 
        margin-top: 2%;
        margin-right: 2%;
        text-align: center;
        padding-left: 3%;
    }

    .sectiontitle{
        margin-top: 3%;
        font-family: 'murk';
        color:white;
        font-size: 190%;
        text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2; 
        display: flex;
        justify-content: center;   /* Horizontal centering */
        align-items: center;       /* Vertical centering */  
    }

    .intro{
        height: 100vh;
        color:white;
        text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2; 
        font-size:200%;
    }

    .section2{
        height:100vh;
        padding-top: 2%;
        color:white;
        text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2;  
        font-size:200%;
    }

    .guided_disc{
        padding-left: 5%;
        padding-right: 5%;
        font-size: 200%;
        text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2; 
    }

    .section3{
        height:100vh;
        padding-top: 2%;
        color:white;
        text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2; 
        font-size:200%;
    }

    .section4{
        height: 100vh;
        padding-top: 2%;
        color:white;
        text-shadow: 1px 1px 2px white, -1px -1px 2px #61c3a2; 
        font-size:200%;
    }



}


/* ## colors 
## light red: #A62F27
## light blue: #7DA6CB
## dark red: #5B1D16
## teal: #018281
## green: #80C141
## orange: #FB9D10 */

@font-face  {
    font-family:'urw';
    src: url("urw-antiqua-font-1743993003-0/Fontspring-DEMO-urwantiquawid-regobl.otf")
 }

 @font-face  {
    font-family:'urw_title';
    src: url("urw-antiqua-font-1743993003-0/Fontspring-DEMO-urwantiquasc-med.otf")
 }

 @font-face  {
    font-family:'latek';
    src: url("computer-modern/cmunssdc.ttf")
 }

 @font-face  {
    font-family:'milspec';
    src: url("MilSpec33558.ttf")
 }

 @font-face  {
    font-family:'witch';
    src: url("Witches-Magic.ttf")
 }

 @font-face  {
    font-family:'murk';
    src: url("Murk.ttf")
 }




